<div class="profile_page container">
<div class="log_out_btn text-right">
<%= link_to "Log Out", destroy_user_session_path, :class => "btn btn-danger", method: :delete %>
</div>

<section class="profile_image">
  <div class="avator_image text-center">
    <%= image_tag("avatar.jpg", :alt => "avator") %>
  </div>

<div class="user_name text-center">
<%= current_user.name %>
</div>
    
</section>

<section class="menu">
<ul>

<li>
<%= link_to "All My transactions", transactions_path , :class => "btn" %>
</li>
<li>
<%= link_to "All my External Transactions", "#", :class => "btn" %>
</li>
<li>
<%= link_to "All groups", "#", :class => "btn" %>
</li>

</ul>

</section>

</div>