<section class="transaction_header">
<div class="container t-d">
<div class="button">
<i class="fa fa-bars" aria-hidden="true"></i>
</div>
<div class="title">
Transactions
</div>

<div class="search">
<i class="fa fa-search" aria-hidden="true"></i>
</div>
</div>

<h3 class ="text-center">most recent</h3>

</section>

<section class="transaction_body">  
<div class="total_amount_sec">
<div class="amount_title">
 total amount
</div>

<div class="actual_total_amount">
  $ <%= @total %>
</div>
</div>
<div class="container t-c">

<% @transaction.each do |t| %>
 
div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 grp-icn">
     <i class= "<%= t.group.icon %>" ></i>
     
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> <%= t.name %> </h5>
        <p class="card-text"> <span>$</span> <%= t.amount %></p>
        <p class="card-text"><small class="text-muted"><%= t.created_at %></small></p>
         <%= link_to "edit", edit_transaction_path %>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>

<br>


<br>
<%= link_to "Add new", new_transaction_path , :class => "btn btn-success  new_trans" %>
</section>




