<div class="form_app container">
<h2>new transaction</h2>
<%= form_for @transaction do |f| %>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />

    <%= f.label :amount %><br />
    <%= f.number_field :amount %><br />

    <div class="field">
    <%= f.label :group %><br>
    <%= f.collection_select :group_id, Group.all, :id, :name %>
  </div>


    <%= f.submit class: "submit text-center btn btn-primary" %>
<% end %>
</div>